# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [1]:
import pandas as pd

In [ ]:
path='dados/atividade1/us_tax_data_2016.csv'
tax_data_df = pd.read_csv(path,encoding="ansi")

tax_filtered = tax_data_df[['zipcode','mars1','MARS2','NUMDEP']]
tax_filtered

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 
Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes.     
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [4]:
tax_primeiras500 = tax_filtered.iloc[:500,:]

In [5]:
tax_primeiras500

     zipcode   mars1   MARS2  NUMDEP
0          0  477700  105350  491310
1          0  211930  142340  360480
2          0   83420  137870  182880
3          0   29420  124060  130160
4          0   20240  188080  195990
..       ...     ...     ...     ...
495    35176       0      20      30
496    35176       0      20       0
497    35176       0       0       0
498    35178     330     100     320
499    35178     150     120     250

[500 rows x 4 columns]

In [6]:
tax_proximas500 = tax_filtered.loc[500:1000,:]

In [7]:
tax_proximas500

      zipcode  mars1  MARS2  NUMDEP
500     35178     60    120     200
501     35178     30     90      80
502     35178      0     90      90
503     35178      0     20       0
504     35179    860    320     670
...       ...    ...    ...     ...
996     35565   1200    520    1340
997     35565    430    600    1040
998     35565    110    470     540
999     35565      0    250     280
1000    35565     30    220     230

[501 rows x 4 columns]

3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

In [8]:
path='dados/atividade1/us_tax_data_2016.csv'
df_tax = pd.read_csv(path,encoding="ansi")

df_tax.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

In [ ]:
df_tax

In [68]:

df_tax['zipcode'][0]

0

In [69]:
df_tax['agi_stub'][0]

1

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings -- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 
Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.
Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

In [ ]:
path='dados/atividade1/us_tax_data_2016.csv'
null_values = pd.read_csv(path,dtype= {"zipcode":str},na_values={"zipcode":[0, 'NA']})
null_values

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

In [9]:
%pip install openpyxl

import pandas as pd

Requirement already satisfied: openpyxl in c:\users\rafae\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\rafae\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
path_xlsx = 'dados/aula3/fcc_survey.xlsx'
survey_responses = pd.read_excel(path_xlsx)
survey_responses.head()

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string. Visualize os nomes das colunas selecionadas no dataframe resultante.

In [ ]:
col_string = "AD, AW:BA"

survey = pd.read_excel(path_xlsx,
                       skiprows=2,
                       usecols=col_string,
                       header=None
                       )

survey.head()

In [92]:
survey.keys()

Int64Index([29, 48, 49, 50, 51, 52], dtype='int64')

7. Crie um dataframe a partir do arquivo `fcc_survey.xlsx` passando a posição da segunda aba para ``sheet_name``.

In [ ]:
col_string = "AD, AW:BA"

survey = pd.read_excel(path_xlsx,
                       skiprows=2,
                       usecols=col_string,
                       header=None,
                       sheet_name=1
                       )

survey.head()

8. Carregue as planilhas de 2016 e 2017 por nome em variáveis separadas. Calcule a média da coluna Age para as diferentes abas do arquivo.

In [107]:
path_xlsx_ = 'dados/aula3/fcc_survey.xlsx'

df_2016_data = pd.read_excel(path_xlsx_,sheet_name=0)

df_2017_data = pd.read_excel(path_xlsx_, sheet_name=1)

In [132]:
df_2016_loc=df_2016_data.loc[:, ['Age']]
df_2016_loc.mean()

Age    29.175421
dtype: float64

In [134]:
df_2017_loc=df_2017_data.loc[:, ['Age']]
df_2017_loc.mean()

count     1.000000
mean     27.691872
std            NaN
min      27.691872
25%      27.691872
50%      27.691872
75%      27.691872
max      27.691872
dtype: float64

9. Concatene as diferentes abas do arquivo `fcc_survey.xlsx` em apenas um dataframe. Calcule a média da coluna Age para a concatenação das abas do arquivo.

In [146]:
merged_df = pd.merge(df_2016_loc,df_2017_loc)
merged_df.mean()

Age    26.013141
dtype: float64

10.  Utilizando uma query em SQL e o banco `sqlite-sakila.db` retorne as cidades e os países, mas apenas os países que começem com a letra **B**.

In [167]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine('sqlite:///dados/aula3/sqlite-sakila.db')
insp = inspect(engine)

In [ ]:

# sql_query ='''
#         select co.country, c.city from country co inner join city c on c.country_id=co.country_id
#     '''


# sql_query ='''
#         select * from country co inner join city c on c.country_id=co.country_id 
#     '''

sql_query ='''
        select co.country, c.city from country co inner join city c on c.country_id=co.country_id
    '''

df_inner_sqlstyle_city_country = pd.read_sql_query(sql_query, engine)
df_inner_sqlstyle_city_country.describe()

In [ ]:
# df_harmonized = df_inner_city_country[['country','city']]
# df_harmonized.head()

df_inner_city_country = pd.merge(country_df,city_df,how='inner',on='country_id')
df_inner_city_country.describe()